# Acquire and Prep - Wrangle

In [128]:
import os
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from env import get_connection
from wrangle import get_properties_2017

### Exercise 2

1) Acquire bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, and fips from the zillow database for all 'Single Family Residential' properties.

In [129]:
#importing the get_get_properties_2017 function as df
df = get_properties_2017()

In [130]:
#checking the number of rows and columns
df.shape

(2152863, 7)

2) Using your acquired Zillow data, walk through the summarization and cleaning steps in your wrangle.ipynb file like we did above.   
You may handle the missing values however you feel is appropriate and meaningful; remember to document your process and decisions using markdown and code commenting where helpful.

In [131]:
#checking the data types in my columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2152863 entries, 0 to 2152862
Data columns (total 7 columns):
 #   Column                        Dtype
---  ------                        -----
 0   bedroomcnt                    float64
 1   bathroomcnt                   float64
 2   calculatedfinishedsquarefeet  float64
 3   taxvaluedollarcnt             float64
 4   yearbuilt                     float64
 5   taxamount                     float64
 6   fips                          float64
dtypes: float64(7)
memory usage: 115.0 MB

In [132]:
#checking null values
df.isna().sum()

bedroomcnt                        11
bathroomcnt                       11
calculatedfinishedsquarefeet    8484
taxvaluedollarcnt                493
yearbuilt                       9337
taxamount                       4442
fips                               0
dtype: int64

In [133]:
#dropping all the null values in bedroomcnt and bathroomcnt
df.bedroomcnt = df.bedroomcnt.dropna()
df.bathroomcnt = df.bathroomcnt.dropna()

In [134]:
#checking null values
df.isna().sum()

bedroomcnt                        11
bathroomcnt                       11
calculatedfinishedsquarefeet    8484
taxvaluedollarcnt                493
yearbuilt                       9337
taxamount                       4442
fips                               0
dtype: int64

In [135]:
df.tail()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
2152858,4.0,3.0,2262.0,960756.0,2015.0,13494.52,6059.0
2152859,4.0,4.5,3127.0,536061.0,2014.0,6244.16,6059.0
2152860,0.0,0.0,NaN,208057.0,NaN,5783.88,6059.0
2152861,3.0,2.5,1974.0,424353.0,2015.0,5302.70,6059.0
2152862,4.0,4.0,2110.0,554009.0,2014.0,6761.20,6037.0

There seems to be a relationship between taxvaluedollarcnt and calculatedfinishedsquarefeet

In [136]:
#finding the product of the taxvaluedollarcnt mean and calculatedfinishedsquarefeet mean
mean = df.taxvaluedollarcnt.mean() / df.calculatedfinishedsquarefeet.mean()

In [137]:
mean

247.95069606258176

In [138]:
# Assuming df is your DataFrame
df['calculatedfinishedsquarefeet'].fillna(df['taxvaluedollarcnt'] / mean, inplace=True)
df['taxvaluedollarcnt'].fillna(df['calculatedfinishedsquarefeet'] * mean, inplace=True)

In [139]:
#checking null values
df.isna().sum()

bedroomcnt                        11
bathroomcnt                       11
calculatedfinishedsquarefeet     378
taxvaluedollarcnt                378
yearbuilt                       9337
taxamount                       4442
fips                               0
dtype: int64