# Acquire and Prep - Wrangle

In [157]:
import os
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from env import get_connection
from wrangle import get_properties_2017

### Exercise 2

1) Acquire bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, and fips from the zillow database for all 'Single Family Residential' properties.

In [158]:
#importing the get_get_properties_2017 function as df
df = get_properties_2017()

In [159]:
#checking the number of rows and columns
df.shape

(2152863, 7)

2) Using your acquired Zillow data, walk through the summarization and cleaning steps in your wrangle.ipynb file like we did above.   
You may handle the missing values however you feel is appropriate and meaningful; remember to document your process and decisions using markdown and code commenting where helpful.

In [160]:
df = df.rename(columns = {'bedroomcnt':'bedrooms', 'bathroomcnt':'bathrooms', 'calculatedfinishedsquarefeet':'Squarefeet', 'taxvaluedollarcnt':'tax_value', 'yearbuilt':'year_built'})

In [161]:
#checking the data types in my columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2152863 entries, 0 to 2152862
Data columns (total 7 columns):
 #   Column      Dtype
---  ------      -----
 0   bedrooms    float64
 1   bathrooms   float64
 2   Squarefeet  float64
 3   tax_value   float64
 4   year_built  float64
 5   taxamount   float64
 6   fips        float64
dtypes: float64(7)
memory usage: 115.0 MB

There seems to be a relationship between taxvaluedollarcnt and calculatedfinishedsquarefeet

In [162]:
#checking null values
df.isna().sum()

bedrooms        11
bathrooms       11
Squarefeet    8484
tax_value      493
year_built    9337
taxamount     4442
fips             0
dtype: int64

In [163]:
#Dropping all nulls
df = df.dropna()

In [164]:
#converting all columns to integer
df = df.astype(int)

In [165]:
#checking data types and shape
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2140235 entries, 4 to 2152862
Data columns (total 7 columns):
 #   Column      Dtype
---  ------      -----
 0   bedrooms    int64
 1   bathrooms   int64
 2   Squarefeet  int64
 3   tax_value   int64
 4   year_built  int64
 5   taxamount   int64
 6   fips        int64
dtypes: int64(7)
memory usage: 130.6 MB

3) Store all of the necessary functions to automate your process from acquiring the data to returning a cleaned dataframe with no missing values in your wrangle.py file. Name your final function wrangle_zillow.

In [167]:
#Aqcuiring the properties_2017 dataset from the zillow data base

def get_properties_2017():
    # Define the filename for the CSV file
    filename = 'properties_2017.csv'
    
    # Check if the CSV file already exists
    if os.path.isfile(filename):
        # If the file exists, read it into a DataFrame and return it
        return pd.read_csv(filename)
    else:
        # If the file doesn't exist, define an SQL query to retrieve data
        query = '''
            SELECT 
                bedroomcnt,
                bathroomcnt,
                calculatedfinishedsquarefeet,
                taxvaluedollarcnt,
                yearbuilt,
                taxamount,
                fips
            FROM
                properties_2017
            WHERE propertylandusetypeid = 261;
        '''
        
        # Get a connection URL (you may want to define the 'get_connection' function)
        url = get_connection('zillow')  # You'll need to define this function
        
        # Execute the SQL query and read the result into a DataFrame
        df = pd.read_sql(query, url)
        
        # Save the result to a CSV file
        df.to_csv(filename, index=False)

        # Return the DataFrame
        return df

In [168]:
#cleaning the properties_2017 dataset

def clean_and_convert(df):
    # Rename columns
    df = df.rename(columns={
        'bedroomcnt': 'bedrooms',
        'bathroomcnt': 'bathrooms',
        'calculatedfinishedsquarefeet': 'Squarefeet',
        'taxvaluedollarcnt': 'tax_value',
        'yearbuilt': 'year_built'
    })

    # Drop rows with any null values
    df = df.dropna()

    # Convert all columns to integers
    df = df.astype(int)

    return df